KEYCLOAK_PASSWORD=your_local_keycloak_password_here
REDIS_PASSWORD=your_local_redis_password_here
MONGO_INITDB_ROOT_PASSWORD=your_local_mongo_password_here
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_local_minio_password_here
